<!DOCTYPE html>
<html>
<head>
    <%- include headIncludes.ejs %>
</head>
<body>

<%- include navbar.ejs %>

<div class="container-fluid molloy-themed">
    <div class="row">
        <div class="col-sm-5">
            <h3 class="text-center">CLUBS AND ORGANIZATIONS</h3>
            <!--div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://www.flickr.com/photos/122352844@N04/15721605056/player/" width="640" height="480" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe> - See more at: http://www.theinfotechblog.com/2014/01/how-to-embed-flickr-slideshow-on-website.html#sthash.3M6iZ4Js.dpuf
            </div-->
            <p class="text-center">
                Molloy College is proud of its more than 50 student clubs and organizations.
                Some have an academic foundation or a service learning component, while others are centered around a cultural theme.
                We encourage your participation in the following clubs:
            </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="panel-group" id="accordion">
            <!-- African American and Caribbean Organization (AACO) -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"` data-toggle="collapse" data-target="#AACO">
                        African American and Caribbean Organization (AACO)
                    </h4>
                </div>
                <div id="AACO" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            AACO was established to celebrate cultural differences among African American students and Caribbean students,
                            to generate common interests among students of all nationalities and to sponsor cultural exchanges and educational programs.
                            <br>
                            <br>
                            For more information, e-mail: <a href="mailto:AACO@lions.molloy.edu">AACO@lions.molloy.edu</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- American Red Cross Club -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#ARCC">
                        American Red Cross Club
                    </h4>
                </div>
                <div id="ARCC" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            The Red Cross Club raises awareness and provides Red Cross services to the students of Molloy College
                            as well as the local community. Club members act in accordance with the American Red Cross Code of Conduct.
                            <br>
                            <br>
                            To join, find out about upcoming activities and events,
                            e-mail <a href="mailto:redcrossclub@lions.molloy.edu">RedCrossClub@lions.molloy.edu</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- American Sign Language Club -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"` data-toggle="collapse" data-target="#ASLC">
                        American Sign Language Club
                    </h4>
                </div>
                <div id="ASLC" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            The American Sign Language Club raises awareness for the deaf population and is involved
                            with community service projects in the local community. We welcome all and invite you to
                            join us in our efforts.
                            <br>
                            <br>
                            For more information, e-mail: <a href="mailto:ASL@lions.molloy.edu">ASL@lions.molloy.edu</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Anime Club -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"` data-toggle="collapse" data-target="#AC">
                        Anime Club
                    </h4>
                </div>
                <div id="AC" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            <strong>Meetings: Tuesdays at 3:30PM in the Public Square Simulation Room</strong>
                            <br>
                            <br>
                            The Anime Club at Molloy College is devoted to the friendly exchange of knowledge about Japan, Anime, Manga, Comics,
                            Videogames and the Internet, as well as the culture surrounding it. From watching anime episodes, to playing hit videogame
                            classics, to discussing all the latest news within the realm of fandom, the Anime Club is open to anyone and everyone that
                            shares a passion for anime, manga, comics, games and Japanese culture.
                            <br>
                            <br>
                            Founded in September 2012, the Molloy College Anime Club is Molloy's one-stop spot for anything and everything Anime, Manga,
                            Gaming, and general J-Culture. Meetings are usually spent watching and discussing anime, having mini in-club gaming tournaments,
                            and playing various card games. We also have a community of TCG players that play while in club, as well as a large number of
                            3DS players, so come have a spotpass and maybe a Pokemon Battle or two. Annual events feature attending New York Comic Con in
                            the fall, as well as the Brooklyn Botanical Gardens Sakura Matsuri in the Spring. We also have random hang-out weekends in the
                            city, stopping at Kinokuniya, Karaoke, Midtown Comics, and various other places anime fans would stop. Come check us out, we are
                            a passionate community of fans that is always open. Link to the Anime Club's official website:
                            <a href="http://animemolloy.webs.com">http://animemolloy.webs.com</a>
                            <br>
                            <br>
                            For more information, e-mail: <a href="mailto:anime@lions.molloy.edu">anime@lions.molloy.edu</a>,
                            <a href="mailto:mschultz@lions.molloy.edu">mschultz@lions.molloy.edu</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Biology Club -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"` data-toggle="collapse" data-target="#BC">
                        Biology Club
                    </h4>
                </div>
                <div id="BC" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            The Biology Club intends to spark an interest in biology outside of the classroom through social interactions
                            in an enjoyable atmosphere. The club wishes to host field trips to museums and other biology exhibits as well
                            as to sponsor guest speakers in the field of biology and other sciences. The club will encourage the advancement
                            of science through a monthly newsletter featuring published articles regarding current research. Lastly, the club
                            will host demonstrations of various laboratory experiments to further expand the entire Molloy community’s knowledge
                            of the subject matter.
                            <br>
                            <br>
                            <!-- For more information, e-mail: <a href="mailto:AACO@lions.molloy.edu">AACO@lions.molloy.edu</a> -->
                        </p>
                    </div>
                </div>
            </div>

            <!-- Break the Silence Club -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"` data-toggle="collapse" data-target="#BTSC">
                        Break the Silence Club
                    </h4>
                </div>
                <div id="BTSC" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            The purpose of this organization is to end the silence associated with relationship violence through education,
                            training, and responsible action.
                            <br>
                            <br>
                            Our goals are to raise awareness, stimulate discussion and education related to relationship violence and its
                            consequences, to develop a safe environment for communication, disclosure, and referral of relationship violence,
                            and to develop peer-support mentoring and educational program.
                            <br>
                            <br>
                            For more information, e-mail: <a href="mailto:taprigliano@molloy.edu">taprigliano@molloy.edu</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- African American and Caribbean Organization (AACO) -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"` data-toggle="collapse" data-target="#AACO">
                        African American and Caribbean Organization (AACO)
                    </h4>
                </div>
                <div id="AACO" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            AACO was established to celebrate cultural differences among African American students and Caribbean students,
                            to generate common interests among students of all nationalities and to sponsor cultural exchanges and educational programs.
                            <br>
                            <br>
                            For more information, e-mail: <a href="mailto:AACO@lions.molloy.edu">AACO@lions.molloy.edu</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- African American and Caribbean Organization (AACO) -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"` data-toggle="collapse" data-target="#AACO">
                        African American and Caribbean Organization (AACO)
                    </h4>
                </div>
                <div id="AACO" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            AACO was established to celebrate cultural differences among African American students and Caribbean students,
                            to generate common interests among students of all nationalities and to sponsor cultural exchanges and educational programs.
                            <br>
                            <br>
                            For more information, e-mail: <a href="mailto:AACO@lions.molloy.edu">AACO@lions.molloy.edu</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- African American and Caribbean Organization (AACO) -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"` data-toggle="collapse" data-target="#AACO">
                        African American and Caribbean Organization (AACO)
                    </h4>
                </div>
                <div id="AACO" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            AACO was established to celebrate cultural differences among African American students and Caribbean students,
                            to generate common interests among students of all nationalities and to sponsor cultural exchanges and educational programs.
                            <br>
                            <br>
                            For more information, e-mail: <a href="mailto:AACO@lions.molloy.edu">AACO@lions.molloy.edu</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- African American and Caribbean Organization (AACO) -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"` data-toggle="collapse" data-target="#AACO">
                        African American and Caribbean Organization (AACO)
                    </h4>
                </div>
                <div id="AACO" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            AACO was established to celebrate cultural differences among African American students and Caribbean students,
                            to generate common interests among students of all nationalities and to sponsor cultural exchanges and educational programs.
                            <br>
                            <br>
                            For more information, e-mail: <a href="mailto:AACO@lions.molloy.edu">AACO@lions.molloy.edu</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- African American and Caribbean Organization (AACO) -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"` data-toggle="collapse" data-target="#AACO">
                        African American and Caribbean Organization (AACO)
                    </h4>
                </div>
                <div id="AACO" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            AACO was established to celebrate cultural differences among African American students and Caribbean students,
                            to generate common interests among students of all nationalities and to sponsor cultural exchanges and educational programs.
                            <br>
                            <br>
                            For more information, e-mail: <a href="mailto:AACO@lions.molloy.edu">AACO@lions.molloy.edu</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- African American and Caribbean Organization (AACO) -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"` data-toggle="collapse" data-target="#AACO">
                        African American and Caribbean Organization (AACO)
                    </h4>
                </div>
                <div id="AACO" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            AACO was established to celebrate cultural differences among African American students and Caribbean students,
                            to generate common interests among students of all nationalities and to sponsor cultural exchanges and educational programs.
                            <br>
                            <br>
                            For more information, e-mail: <a href="mailto:AACO@lions.molloy.edu">AACO@lions.molloy.edu</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- African American and Caribbean Organization (AACO) -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"` data-toggle="collapse" data-target="#AACO">
                        African American and Caribbean Organization (AACO)
                    </h4>
                </div>
                <div id="AACO" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            AACO was established to celebrate cultural differences among African American students and Caribbean students,
                            to generate common interests among students of all nationalities and to sponsor cultural exchanges and educational programs.
                            <br>
                            <br>
                            For more information, e-mail: <a href="mailto:AACO@lions.molloy.edu">AACO@lions.molloy.edu</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- African American and Caribbean Organization (AACO) -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"` data-toggle="collapse" data-target="#AACO">
                        African American and Caribbean Organization (AACO)
                    </h4>
                </div>
                <div id="AACO" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            AACO was established to celebrate cultural differences among African American students and Caribbean students,
                            to generate common interests among students of all nationalities and to sponsor cultural exchanges and educational programs.
                            <br>
                            <br>
                            For more information, e-mail: <a href="mailto:AACO@lions.molloy.edu">AACO@lions.molloy.edu</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include javascriptIncludes.ejs %>
</body>
</html>



