<!DOCTYPE html>
<html>
<head>
    <%- include headIncludes.ejs %>
</head>
<body>

<%- include navbar.ejs %>

<div class="container-fluid molloy-themed">
    <div class="row">
        <div class="col-sm-5">
            <h3 class="text-center">CLUBS AND ORGANIZATIONS</h3>
            <!--div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://www.flickr.com/photos/122352844@N04/15721605056/player/" width="640" height="480" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe> - See more at: http://www.theinfotechblog.com/2014/01/how-to-embed-flickr-slideshow-on-website.html#sthash.3M6iZ4Js.dpuf
            </div-->
            <p class="text-center">
                Molloy College is proud of its more than 50 student clubs and organizations.
                Some have an academic foundation or a service learning component, while others are centered around a cultural theme.
                We encourage your participation in the following clubs:
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="panel-group" id="accordion">
            <!-- First Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"`
                        data-toggle="collapse"
                        data-target="#collapseOne">
                        Collapsible Group Item #1
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit,
                        enim eiusmod high life accusamus terry richardson ad squid.
                    </div>
                </div>
            </div>

            <!-- Second Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"
                        data-toggle="collapse"
                        data-target="#collapseTwo">
                        Collapsible Group Item #2
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit,
                        enim eiusmod high life accusamus terry richardson ad squid.
                    </div>
                </div>
            </div>

            <!-- Third Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"
                        data-toggle="collapse"
                        data-target="#collapseThree">
                        Collapsible Group Item #3
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit,
                        enim eiusmod high life accusamus terry richardson ad squid.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>



