<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
</head>
<body style="background-color: #2c1010; color: #ffffff">
<nav class="navbar navbar-default">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Brand</a>
</nav>
<div class="container-fluid" style="background-color: #843534">

    <div class="row">
        <div class="col-sm-5">
            <h1><%= title %></h1>
            <p>Welcome to <%= title %></p>
            <!--div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://www.flickr.com/photos/122352844@N04/15721605056/player/" width="640" height="480" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe> - See more at: http://www.theinfotechblog.com/2014/01/how-to-embed-flickr-slideshow-on-website.html#sthash.3M6iZ4Js.dpuf
            </div-->
            <p style>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus Pretium faucibus lectus quis justo, ac inceptos eleifend nullam
                facilisi vel.Cubilia curae sed sollicitudin augue eget!Duis est Massa a porttitor
                placerat rhoncus: curabitur felis magna vel hendrerit?Aenean etiam class ridiculus eget
                Pulvinar volutpat dictumst potenti?
            </p>
        </div>
    </div>
</div>
</body>
</html>
