<!DOCTYPE html>
<html>
<head>
    <%- include headIncludes.ejs %>
</head>
<body>

<%- include navbar.ejs %>

<div class="container-fluid">
<iframe src="http://files.flipsnack.com/iframe/embed.html?hash=ft327y0f1&wmode=window&bgcolor=EEEEEE&t=14273124991427312499" width="100%" height="100%" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
</div>

<%- include javascriptIncludes.ejs %>
</body>
</html>
