<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/style.css" rel="stylesheet">
<link href="css/navbarstyle.css" rel="stylesheet">