<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/navbarstyle.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%- include navbar.ejs %>

<div class="container-fluid">
    <div class="embed-responsive embed-responsive-16by9">
        <a class="twitter-timeline" href="https://twitter.com/molloylife" data-widget-id="551567619384705025">Tweets by
            @molloylife</a>
        <script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");</script>
    </div>
</div>
<div class="container-fluid image-container">
    <div class="container-fluid text-center btn-toolbar">
        <div class="btn-group btn-group-justified" role="group">
            <a class="btn" href="photos">Photos</a>
            <a class="btn" href="videos">Videos</a>
            <a class="btn" href="articles">Articles</a>
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <a class="btn" href="events">Events</a>
            <a class="btn" href="clubs">Clubs</a>
            <a class="btn" href="socialmedia">Social Media</a>
        </div>
    </div>
    <img src="/images/molloyLifeButtons.jpg" class="bgButtonImage"/>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.js"></script>
</body>
</html>
