<!DOCTYPE html>
<html>
<head>
    <%- include headIncludes.ejs %>
</head>
<body>
<%- include navbar.ejs %>

<div class="container-fluid" style="margin-top: 50px">
        <iframe src="http://www.tintup.com/molloylife" height="600" width="100%" frameBorder="0" seamless></iframe>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.js"></script>
</body>
</html>
