<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="background-color: white; color: #000000">
    <nav class="navbar navbar-default" style="background-color: #A31919; margin-bottom: 0px; border: 0px">
      <img style="vertical-align: middle; height: 40px; margin: 5px; margin-left: 10px; border-radius: 4px" src="/images/molloyLifeLogo.jpeg">
      <a class="navbar-brand" style="color:#ffffff; position: absolute; left: 0px; top: 0px; width: 100%; text-align: center;" href="#">Molloy Life</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <h1 style="text-align: center"><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <!--div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="http://www.flickr.com/photos/122352844@N04/15721605056/player/" width="640" height="480" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe> - See more at: http://www.theinfotechblog.com/2014/01/how-to-embed-flickr-slideshow-on-website.html#sthash.3M6iZ4Js.dpuf
        </div-->
        <p style>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus Pretium faucibus lectus quis justo, ac inceptos eleifend nullam
          facilisi vel.Cubilia curae sed sollicitudin augue eget!Duis est Massa a porttitor
          placerat rhoncus: curabitur felis magna vel hendrerit?Aenean etiam class ridiculus eget
          Pulvinar volutpat dictumst potenti?
        </p>
      </div>
    </div>
  <div class="container-fluid" style="position: relative;">
    <div class="container-fluid text-center btn-toolbar" style="color: #000000">
      <div class="btn-group btn-group-justified" role="group">
        <a class="btn" href="photos">Photos</a>
        <a class="btn" href="videos">Videos</a>
        <a class="btn" href="articles">Articles</a>
      </div>
      <div class="btn-group btn-group-justified" role="group">
        <a class="btn" href="events">Events</a>
        <a class="btn" href="clubs">Clubs</a>
        <a class="btn" href="socialmedia">Social Media</a>
      </div>
    </div>
    <img src="/images/molloyLifeButtons.jpg" style="position: absolute; left: 0px; top: 0px; width: 100%; z-index: -1; border-radius: 4px"/>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.js"></script>
  </body>
</html>
