<!DOCTYPE html>
<html>
<head>
    <%- include headIncludes.ejs %>
</head>
<body>
<%- include navbar.ejs %>

<div id="tintup-container">
    <iframe src="http://www.tintup.com/molloylife" height="100%" width="100%" frameBorder="0" seamless></iframe>
</div>


<%- include javascriptIncludes.ejs %>
</body>
</html>