<nav class="navbar navbar-default" id="navbar-mainbar">
    <img id="navbar-logo" src="/images/molloyLifeLogo.jpeg">
    <a class="navbar-brand" id="navbar-text">Molloy Life</a>
    <a href="/">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </a>
</nav>