<nav class="navbar navbar-default navbar-fixed-top" id="navbar-mainbar">
    <a id="home-button" class="btn btn-default navbar-btn" href="/">
        <span class="glyphicon glyphicon-home"></span>
    </a>

    <a class="btn navbar-toggle show" href="/navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>

</nav>