<nav class="navbar navbar-default"
     style="background-color: #A31919; margin-bottom: 0px; border: 0px; border-radius: 0px">
    <img style="vertical-align: middle; height: 40px; margin: 5px; margin-left: 10px; border-radius: 4px"
         src="/images/molloyLifeLogo.jpeg">
    <a class="navbar-brand"
       style="color:#ffffff; position: absolute; left: 0px; top: 0px; width: 100%; text-align: center;" href="#">Molloy
        Life</a>
    <a href="/navigation">
        <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </a>
</nav>