<nav class="navbar navbar-default navbar-fixed-top" id="navbar-mainbar">
    <img id="navbar-logo" src="/images/molloyLifeLogo.jpeg">
    <a class="navbar-brand" id="navbar-text">MOLLOY LIFE</a>
    <a href="/navigation">
        <button type="button" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </a>
</nav>