<!DOCTYPE html>
<html>
<head>
    <%- include headIncludes.ejs %>
</head>
<body>
<%- include navbar.ejs %>

<div id="navImageContainer">
    <div class="btn-group btn-group-justified">
        <a class="btn" href="photos">PHOTOS</a>
        <a class="btn" href="videos">VIDEOS</a>
    </div>
    <div class="btn-group btn-group-justified">
        <a class="btn" href="articles">ARTICLES</a>
        <a class="btn" href="events">EVENTS</a>
    </div>
    <div class="btn-group btn-group-justified">
        <a class="btn" href="clubs">CLUBS</a>
        <a class="btn" href="socialmedia">SOCIAL MEDIA</a>
    </div>
</div>
<%- include javascriptIncludes.ejs %>
</body>
</html>