<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css'/>
</head>
<body style="background-color: white; color: #000000">

<%-include navbar.ejs %>

<div class="container-fluid" style="background-color: #843534">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="http://www.flickr.com/photos/90807967@N08/15845527337/player/"
                width="640" height="480" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen
                oallowfullscreen msallowfullscreen></iframe>
    </div>
</div>

</body>
</html>
