<!DOCTYPE html>
<html>
<head>
    <%- include headIncludes.ejs %>
</head>
<body>

<%- include navbar.ejs %>

<div class="container-fluid">
    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#Facebook" aria-expanded="true" aria-controls="Facebook">
                                Facebook
                            </a>
                        </h4>
                    </div>
                    <div id="Facebook" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Facebook">
                        <div class="panel-body">
                            <p>
                                <br>
                                <br>AACO was established to celebrate cultural differences among African American students and Caribbean students,
                                to generate common interests among students of all nationalities and to sponsor cultural exchanges and educational programs.
                                For more information, e-mail: <a href="mailto:AACO@lions.molloy.edu">AACO@lions.molloy.edu</a>
                            </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<%- include javascriptIncludes.ejs %>
</body>
</html>
