<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
</head>
<body style="background-color: white; color: #000000">
<nav class="navbar navbar-default" style="background-color: #A31919; margin-bottom: 0px; border: 0px; border-radius: 0px">
    <img style="vertical-align: middle; height: 40px; margin: 5px; margin-left: 10px; border-radius: 4px" src="/images/molloyLifeLogo.jpeg">
    <a class="navbar-brand" style="color:#ffffff; position: absolute; left: 0px; top: 0px; width: 100%; text-align: center;" href="#">Molloy Life</a>
    <a href="/">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </a>
</nav>
<div class="container-fluid" style="background-color: #843534">

    <div class="row">
        <div class="col-sm-5">
            <h1><%= title %></h1>
            <p>Welcome to <%= title %></p>
            <!--div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://www.flickr.com/photos/122352844@N04/15721605056/player/" width="640" height="480" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe> - See more at: http://www.theinfotechblog.com/2014/01/how-to-embed-flickr-slideshow-on-website.html#sthash.3M6iZ4Js.dpuf
            </div-->
            <p style>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus Pretium faucibus lectus quis justo, ac inceptos eleifend nullam
                facilisi vel.Cubilia curae sed sollicitudin augue eget!Duis est Massa a porttitor
                placerat rhoncus: curabitur felis magna vel hendrerit?Aenean etiam class ridiculus eget
                Pulvinar volutpat dictumst potenti?
            </p>
        </div>
    </div>
</div>
</body>
</html>
