<!DOCTYPE html>
<html>
<head>
    <%- include headIncludes.ejs %>
</head>
<body>

<%- include navbar.ejs %>

<div class="container-fluid molloy-themed">
    <div class="row">
        <div class="col-xs-12">

            <% include videos/videoPage.ejs %>


        </div>
    </div>
</div>

<%- include javascriptIncludes.ejs %>
<script src="/js/jquery.jscroll.min.js"></script>
<script> $('.col-xs-12').jscroll(); </script>
</body>
</html>
