#navbar-mainbar {
    background-color: #A31919;
    border: 0px;
    border-radius: 0px;
    background-image:url("/images/hashMolloyLifeWhite.png");
    background-repeat: no-repeat;
    background-size: 150px;

}

#home-button {
    text-align:center;
    vertical-align: middle;
    height: 40px;
    margin: 5px;
    margin-left: 14px;
    padding-top: 8px;
    border-radius: 7px;
}

#molloy-life{
    background-image:url("/images/hashMolloyLifeWhite.png")
    background-repeat: no-repeat;
    position: absolute;
    background-position: center center;
    background-size: contain;
}

#navbar-text {
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    text-align: center;
}