.image-container {
    position: relative;
}

.bgButtonImage {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
    border-radius: 4px;
}

body {
    background-color: white;
    color: #000000;
    height: 100%;
    padding-top: 50px;
}

.panel-title {
    text-align: center;
    font-weight: bold;

}
.panel-title:hover {
    cursor: pointer;

}

html {
    height: 100%;
}

.molloy-themed {
    background-color: #843534;
}

#navImageContainer {
    height: 100%;
    background-image: url("/images/OneColorMolloyLifePawSmall.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

div.btn-group {
    height: calc(100% / 3);
}

a.btn {
    color: #000000;
    font-size: large;
}

/* Custom button matching Molloy colors */
a.btn-molloy {
    background-color: #A31919;
    color: #ffffff;
}

a.btn-molloy:hover {
    background-color: #851414;
    color: #ffffff;
}

a.btn-molloy:active {
    background-color: #691010;
    color: #ffffff;
}

a.btn-molloy:after {
    color: #ffffff;
}

a.btn-molloy:visited {
    color: #ffffff;
}

.thumbnail {
    word-wrap: break-word;
}